
html, body { 
  height: 100%; 
  margin: 0; 
  padding: 0; 
}

#sampleRequestsWrapper {
  background-color: #ddd;
  height: 20%;
  min-height: 100px;
}

#customers, #accounts, #bills, #purchase {
  border: 2px solid red;
  min-width: 150px;
  max-height: 300px;
  overflow:auto;
}

#map { 
  height: 80%; 
}

#floating-panel {
  position: absolute;
  top:200px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}